@import 'tailwindcss/base.css';
@import '@navikt/ds-css';
@import 'tailwindcss/components.css';
@import 'tailwindcss/utilities.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

span[data-ui="Switch"] > #iProd[value="true"] + span > span:first-of-type,
span[data-ui="Switch"] > #solved[value="true"] + span > span:first-of-type,
span[data-ui="Switch"] > #tvungenModal[value="true"] + span > span:first-of-type {
    background-color: #3b9d2e !important;
}
span[data-ui="Switch"] > #iProd[value="false"] + span > span:first-of-type,
span[data-ui="Switch"] > #solved[value="false"] + span > span:first-of-type,
span[data-ui="Switch"] > #tvungenModal[value="false"] + span > span:first-of-type {
    background-color: #cf0000 !important;
}

.arsak > div > div > div > div[data-ui="Flex"] {
    display: none !important;
}