name: Bygg og deploy studio
on:
  workflow_dispatch:
  push:
    paths-ignore:
      - '.idea/**'
    branches:
      - main

env:
  IMAGE: ghcr.io/${{ github.repository }}:${{ github.sha }}

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    permissions:
      contents: 'read'
      id-token: 'write'

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Konfigurer Node
        uses: actions/setup-node@v5
        with:
          node-version: 24
          registry-url: 'https://npm.pkg.github.com'
          cache: 'yarn'

      - name: Installer avhengigheter
        run: yarn install --immutable

      - name: Add sanity
        run: yarn global add @sanity/cli

      - name: Deploy sanity
        env:
          SANITY_AUTH_TOKEN: ${{ secrets.SANITY_DEPLOY_TOKEN }}
        run: sanity deploy